@page
@model TreeStruct.Pages_TreeNodes.AddModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add new node</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TreeNode.ID" />
            <div class="form-group">
                <label asp-for="TreeNode.value" class="control-label">Node name</label>
                <input asp-for="TreeNode.value" class="form-control" />
                <label asp-for="TreeNode.TreeNodeID" class="form-label">Parent node:</label>
                <select asp-for="TreeNode.TreeNodeID" asp-items="@Model.NodeList" class="form-control">
                    <option value="">/</option>
                </select>
                <span asp-validation-for="TreeNode.value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
